.courses {
    padding: 32px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    position: relative;
}

.courses__input-color {
    position: absolute;
    top: 50px;
    right: 30px;
}

.courses h3 {
    border-bottom: 3px solid;
    padding-bottom: 8px;
    display: inline-block;
    font-size: 32px;
}

.courses__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 32px 0 0 0;
}